trigger:
  branches:
    include:
      - main
  
variables:
  BuildConfiguration: 'Release'
  WebAppName: 'Demo-WebApp408'
  AzureServiceConnection: 'SC-Azure-Demo408'

stages:
- stage: CI
  displayName: "CI - Build & Publish Artifact"
  jobs:
  - job: Build
    pool:
      vmImage: 'windows-latest'
    steps:
    - checkout: self
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.x'
    - script: dotnet restore
      displayName: "Restore"
    - script: dotnet build --configuration $(BuildConfiguration) --no-restore
      displayName: "Build"
    - script: dotnet publish --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)/publish
      displayName: "Publish"
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/publish'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/DemoWebApp.zip'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

- stage: CD
  displayName: "CD - Deploy to Azure App Service"
  dependsOn: CI
  condition: succeeded()
  jobs:
  - deployment: DeployWeb
    displayName: "Deploy Web App"
    environment: "dev"   # <-- REQUIRED
    pool:
      vmImage: 'windows-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
          - task: AzureWebApp@1
            inputs:
              azureSubscription: '$(AzureServiceConnection)'
              appType: 'webApp'
              appName: '$(WebAppName)'
              package: '$(Pipeline.Workspace)/drop/DemoWebApp.zip'
